<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MedWise - Premium Bootstrap Template for Hospitals, Clinics, Doctors - Bootstrap Medical and Health Template</title>
    
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    
    <!-- Bootstrap Framework Version 4.5.3 --> 
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    
    <!-- Ion Icons Version 5.1.0 --> 
    <link href="css/ionicons.css" type="text/css" rel="stylesheet">
    
    <!-- Medical Icons -->
    <link href="css/medwise-icons.css" type="text/css" rel="stylesheet">
    
    <!-- Stylesheets --> 
    <link href="css/vendors.min.css" type="text/css" rel="stylesheet">
    <link href="css/style.min.css" type="text/css" rel="stylesheet" id="style">
    <link href="css/components.min.css" type="text/css" rel="stylesheet" id="components">
    
    <!--Google Fonts--> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Manrope:wght@300;400;600;800&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

</head>

<body class="not-found">
    <div class="not-found-box">
        <div class="icon">
            <i class="ion-alert-circle-outline"></i>
        </div>
        <h3 class="heading font-bold mb-10">Page Not found</h3>
        <p class="h5 text-center mb-20">The page you are searching for does not exist or cannot be found.</p>
        <a href="index-hospital-classic.html" class="btn btn-primary"><i class="ion-home-outline icon-left"></i> Go Back Home</a>
    </div>

    <!-- JQuery Version 3.5.1 -->
    <script src="js/jquery.min.js" type="text/javascript"></script>

    <!-- Bootstrap Version 4.5.3 -->
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>

</body>

</html>